//hola solo soy un comentario desde la lap 
//hola yo soy un comentario desde la pc
// saludos el experimento funciono!!!!!!!!!!!!!!!
{

    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}